{% for children in form.children %}
    {% if children.vars.valid == false %}
        <div class="alert alert-danger">
            {% for errors in children.vars.errors %}
                {{ errors.message }}
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}