{% extends 'CibCoreBundle::layout.html.twig' %}


{% block body %}
    <form action="{{ path('editParameters',{'id':param.parameterId}) }}" method="post" novalidate="novalidate">
        {% include 'CibCoreBundle:Form:formParameters.html.twig' %}
    </form>
{% endblock body %}