{% extends 'CibCoreBundle::layout.html.twig' %}


{% block body %}
    <form action="{{ path('addCard') }}" method="post" novalidate="novalidate">
        {% include 'CibCustomerBundle:Form:formCard.html.twig' %}
        {#{{ form_widget(form) }}#}
        {#<button type="submit" value="valider" name="valider">Valider</button>#}
    </form>
{% endblock body %}