{% extends 'CibCoreBundle::layout.html.twig' %}


{% block body %}
    <div class="container">
    <div class="row">
        <div class="col-xs-offset-2 col-md-offset-2">
            <form action="{{ path('addClient') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
                {% include 'CibCustomerBundle:Form:formClient.html.twig' %}
            </form>
        </div>
    </div>
    </div>
{% endblock body %}