{% extends 'CibCoreBundle::layout.html.twig' %}


{% block body %}
    <div class="row">
        <form action="{{ path('addClient') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
            {% include 'CibCustomerBundle:Form:formClient.html.twig' %}
        </form>
    </div>
{% endblock body %}