{% extends 'CibCoreBundle::layout.html.twig' %}


{% block body %}
    {{ app.request.query.get('id') }}
    <form action="{{ path('editClient',{'id':id}) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
        {% include 'CibCustomerBundle:Form:formClient.html.twig' %}
    </form>

{% endblock body %}