{% extends 'CibCoreBundle::layout.html.twig' %}


{% block body %}
    <div class="row">
        <div class="container">
            <div class="pagination">
                <a href="{{ path('index') }}"> Accueil</a> > <a href="{{ path('listActivity') }}">Activité</a> > <a href="{{ path('displayTpe') }}">TPE</a> > Modifier
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <center><h1 class="title">Modifier un TPE</h1></center><br>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <form action="{{ path('editTpe',{'id':id}) }}" method="post" novalidate="novalidate">
                {% include 'CibActivityBundle:Form:formTpe.html.twig' %}
            </form>
        </div>
    </div>
{% endblock body %}