{% extends 'CibCoreBundle::layout.html.twig' %}


{% block body %}

    <div class="row">
        <div class="container">
            <div class="pagination">
                <a href="{{ path('index') }}"> Acceuil</a> > <a href="{{ path('listActivity') }}">Activité</a> > <a href="{{ path('displaySignboard') }}">Enseigne</a> > Modifier
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <center><h1 class="title">Modifier une enseigne</h1></center><br>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <form action="{{ path('editSignboard',{'id':id}) }}" method="post">
                {% include 'CibActivityBundle:Form:formSignboard.html.twig' %}
            </form>
        </div>
    </div>

{% endblock body %}