{% extends 'CibCoreBundle::layout.html.twig' %}

{% form_theme form 'form_table_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="container">
            <div class="pagination">
                <a href="{{ path('index') }}"> Acceuil</a> > S'enregistrer
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid" >
            <div class="container">
                <div class="col-md-offset-3">
                    <div style="margin-top: 5%">
                        {% block fos_user_content %}
                            {% include "FOSUserBundle:Registration:register_content.html.twig" %}
                        {% endblock fos_user_content %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}