{% extends 'CibCoreBundle::layout.html.twig' %}


{% block body %}

    <div class="row">
        <div class="container">
            <div class="pagination">
                <a href="{{ path('index') }}"> Accueil</a> > Resultats
            </div>
        </div>
    </div>

    {% include 'CibCoreBundle:Core:displayFlash.html.twig' %}
    <div class="container">
        <div class="row" style="margin-top: 5%">
            {% include 'CibDataBundle:Form:formResults.html.twig' %}
            <div class="col-xs-2 col-md-2">
                <button class="btn btn-primary" id="saveResultChoice">Enregistrer la séléction</button>
            </div>
            <div class="col-xs-3 col-md-3">
                <button class="btn btn-primary" id="resetResultChoice">Remise a zéro des filtres</button>
            </div>
            <div class="col-xs-2 col-md-2">
                <div id="resultList">

                </div>
            </div>


            <br>
            <br>


        </div>
    </div>
    <div class="row">
        <div id="inputResult">

        </div>
    </div>

    <div id="resultModal">

    </div>

    {% if pagination %}
        <div id="divResult" class="{{ asset('bundles/cibcore/pictures/ajax-loader.gif') }}">
            {#<img src="" id="img-loader">#}
        </div>
        <div id="divTotal">

        </div>
    {% endif %}

{% endblock body %}

